ul.links {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    color: #E5E7EB;
}

body {
    margin: 0;
}

.headerlogo {    
    font-size: 24px;
    color: #F9FAF8;
    margin-bottom: 60px;
}

.heroleft {
    width: 400px;
}

.placeholderimg {
    background: darkgrey;   
    display: flex;
    align-items: center;
    justify-content: center;
    width: 450px;
    height: 195px;
}

.upperdark {
    background: #1F2927;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;

}

.header {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.herobox {
    display: flex;
    }

.heromain {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 800;
}

.herosub {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 10px;
    margin-right: 15px;

}

button {
    background: #3882F6;
    color: #F9FAF8;
    padding: 10px 25px;
}
 
.headerbox {
}


.info {
    max-width: 150px;
}

.cardbox {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.cardtitle {
    text-align: center;
    margin: 20px 0 20px 0;
}

.card {
    width: 150px;
    height: 150px;
    border: #3882F6;
    border-style: solid;
    border-width: 2px;
}

.cardtext {
    font-size: 14px;
    text-align: center;
}

.whitemiddle {
    height: 325px;
}
.greybottom {
    background: #E5E7EB;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quotecontainer {
    width: 1000px;
}

.whitethird {
    height:350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bluesignup {
    height: 175px;
    width: 1000px;
    background:#3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.whiteborder {
    background: #3882F6;
    color: #F9FAF8;
    padding: 10px 25px;
    border: #F9FAF8;
    border-style: solid;
}

.signuptitle {
    color: #F9FAF8;
}

.signuptext {
    color: #F9FAF8;
}

