ul.links {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 100px;
}

.logo {
    margin-right: 15px;
}

.headerbox {
    background: #1f2937;
    color: white;
    height: 300px;
}